
p {
	 font-family:"Arial";
	 font-size: 26px;
}
h1 {
	font-family:"Abril Fatface";
}

b {
	color: orange;
}

h3 {
	text-align:center;
}
a:link{ 
	color:red; 
}
a:visited { 
	color:red; 
}
a:hover {
	color: !important;
	}
a:active {
	color: !important;
}

.assignment-pic{
	width: 100%;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
 .bg-2 {
 	background-color:#fffaf4;
 	margin-top: 90px;
}
.bg-1 {
 		background-color:powderblue;
 		font-family: "Abril Fatface";
 		color:black;
 }
 .bore {
 	border: lightblue dotted 5px;
 }
 .bott {
 	background-color: darkgrey;
 }
